
:root {
    --dark-color: #19283f;
    --blue-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
.main-title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 2px;
    background-color: var(--blue-color);
}
 .main-btn {
    color:var(--yellow-color);
    background-color: var(--red-color);
    padding: 0.5rem 1rem;
    font-weight:bolder;
}
.main-btn:hover {
    color: var(--dark-color);
}
.navbar {
    background-color: var(--dark-color);
    height: 72px;
}
body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.navbar .nav-link {
    color: white;
    font-size: 1rem;
}
.navbar .nav-link:hover,
    .navbar .active,
    .navbar .nav-link:focus {
    color: var(--blue-color);
}

.m {    
    margin-top: 9px;
    margin-bottom: 1px;
    padding: 10px;
    border-left:3px solid  var(--blue-color);
    font-size: 20px;
    color: var(--blue-color);
    cursor: pointer;
}
.navbar-collapse  {
    background-color: var(--dark-color);
    padding-left: 40px;
    padding-top: 20px;
}

/* Start Landing */
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 58px);
}

/* Start Features */
.features .icon-holder {
    height: 200px;
}
.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}

.features .icon-holder .icon {
    font-size: 4rem;
    color: var(--blue-color);
}

/* Start Our Work */
.our-work {
    background-color: var(--section-color);
}
.our-work ul li.active {
color: var(--yellow-color);
background-color: var(--red-color);
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover {
    color: var(--red-color);
}
.our-work .row .box {
    padding: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: white;
    position: relative;
}
.our-work .row .box::before {
    content: attr(data-work);
    font-weight: bolder;
    font-size: 30px;
    color: var(--section-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 0.3s;
    background-color: #33d1cc6b;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    transform: translateX(calc(-100% - 5px));

}
.our-work .row .box:hover::before  {
    transform: translateX(0);
}

/* Start Stuff */
.stuff .description {
    max-width: 500px;
}

/* start team */
.team {
    background-color: var(--section-color);
}
.team .head  h2 {
    color: var(--yellow-color);
}
.team .row h4 {
    background-color: var(--blue-color);
    /* font-weight: bolder; */
    padding: 1rem;
    color: #f8f9fa;
    /* height: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start project */
.project  {
    background-color: var(--dark-color);
}

/* start Email */
.email {
    background-color: var(--yellow-color);
}
.email input.Email {
    border: none;
    /* color: white; */
    border-bottom:1px solid white;
}
.email input.Email:focus {
    outline: transparent;
    
}
.email ::placeholder {
    color: white;
}
.email button[type="submit"] {
    color: var(--yellow-color);
    background-color: var(--dark-color);
    padding: 5px 15px;
}

/* Start Footer */
.footer {
    background-color: var(--dark-color);
}
.footer .g {
     color: var(--blue-color);
     font-weight: bold;
}
.footer .b {
    color: var(--yellow-color);
    font-weight: bold;
}
.footer .social>li {
    background-color: blue;
    border-radius: 50%;
}
.facebook {
    background-color: #1877F2;
}
.twitter {
    background-color: #1DA1F2;
}
.linkedin {
    background-color: #0077B5;
}
.youtube {
    background-color: #FF0000;
}

